.Welcome{
 
 
 
  margin-top: 300px;
  margin-left: -100px;
  text-align: center;
  justify-content: center;
}

.table{
  float: center;
  margin: auto;
  justify-content: center;
 
}
/* Float four columns side by side */
.column {
  float: left;
  width: 20%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px; }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.button {
  background-color: #3B3D45;
  border:2px solid #3B3D45;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}.button:link, .button:visited {
  background-color: #6DDEEB;
  color: black;
  padding: 25px 75px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button:hover, .button:active {
  background-color: #6DDEEB;
  opacity: .7;
}
 body {
  background: url("https://cdn.vox-cdn.com/thumbor/vCPk3QDZyhZR3k95ZQnnJL51v9I=/0x0:2600x1733/1400x1050/filters:focal(1092x659:1508x1075):no_upscale()/cdn.vox-cdn.com/uploads/chorus_image/image/66554227/shutterstock_616076909.0.jpg") center / cover no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  