body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
    text-align: center;

  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: auto;
  text-align: center
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  margin: auto;
  text-align: center

}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  text-align: center
}


.container {
  padding: 20px;
  text-align: center;
  margin: center;
}

span.psw {
  float: right;
  padding-top: 16px;
}
.login{
  margin: auto;
  width: 50%;
}
.signup{
  margin: auto;
  width: 50%;
}