

<div class="logo-container">
  <div class="logo">
    <img src="./assets/pics/logo.png" alt="" /></div>
<nav>

  <ul>
    <li><a [routerLink]="['/homepage']" class = "Home">Home</a></li>
    <li><a [routerLink]="['/my-bar']"class = "MyBar">MyBar</a></li>
    <li><a [routerLink]="['/recipes']"class = "Recipes">Recipes</a></li>
    <li><a [routerLink]="['/all']"class = "All">All</a></li>
    <li><a [routerLink]="['/featured']"class = "Featured">Featured</a></li>
    <li><a [routerLink]="['/account']"class = "Account">Account</a></li>
  </ul>

</nav>
</div>
