<!doctype html>
<html lang="en">
<body>

<div class = "title">
  <h1>Featured</h1>
  </div>
  <h2 style="text-align:center">Thanksgiving Sangria</h2>
  <div class="card">

  <img src="https://assets.epicurious.com/photos/59bc35110222e72ca71d840d/1:1/w_1600%2Cc_limit/Say-Hello-to-Thanksgiving-Sangria-recipe-12092017.jpg" alt="Add Ingredient" style="width:100%" >
  <p>Spiced Rum</p>
  <p>Pomegranate Juice</p>
  <p>Red Wine</p>
  <p><b>View Recipe for more</b></p>
  <p><button>View Recipe</button></p>



</div>
</body>
</html>
